$TTL	604800
@	IN	SOA	skaldr.io. root.skaldr.io (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
@	IN	NS	localhost.
@	IN	A	127.0.0.1
@	IN	AAAA	::1

{% for record in records -%}
{% for entry in record.entries -%}
{% if 'address' in entry -%}
{{ entry.name }} IN {{ record.type }} {{ entry.address }}
{% elif 'addresses' in entry -%}
{% for address in entry.addresses -%}
{% if loop.index == 1 -%}
{{ entry.name }} IN {{ record.type }} {{ address }}
{% else -%}
				      IN {{ record.type }} {{ address }}
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
