[Unit]
Description=SQL Exporter
Wants=network.target
After=network.target

[Service]
User={{dedicated_exporter_user}}
Group={{dedicated_exporter_group}}
Environment="DATA_SOURCE_NAME={{ mysql_exporter_user }}:{{ mysql_exporter_password }}@tcp(127.0.0.1:3306)/"
Type=simple
ExecStart=/opt/sql_exporter/mysqld_exporter

[Install]
WantedBy=multi-user.target
