server {
 listen 80 default_server;
 root /usr/share/nginx/www;
 index index.html index.htm;

{% if inventory_hostname in groups['grafana'] %}
 location /grafana {
   proxy_pass http://localhost:{{ grafana_docker_port }};
 }
{% endif %}

{% if inventory_hostname in groups['prometheus'] %}
 location /prometheus {
        proxy_pass http://{{ inventory_hostname }}.skaldr.io:9090;
}
{% endif %}

{% if inventory_hostname in groups['app_servers'] %}
 location / {
  proxy_pass http://localhost:{{ agama_docker_port }};
 }
{% endif %}

{% if inventory_hostname in groups['db_servers'] %}
 location /mysql-metrics {
   proxy_pass http://localhost:9104/metrics;
 }
{% endif %}

{% if inventory_hostname in groups['dns_slaves'] %}
 location /bind-metrics {
  proxy_pass http://localhost:9119/metrics;
}
{% endif %}

{% if inventory_hostname in groups['haproxy'] %}
location /haproxy-metrics {
  proxy_pass http://localhost:9101/metrics;
}

location /keepalived-metrics {
  proxy_pass http://localhost:9165/metrics;
}
{% endif %}

{% if inventory_hostname in groups['exporters'] %}
 location /nginx-metrics {
   proxy_pass http://{{ inventory_hostname }}.skaldr.io:9113/metrics;
 }

 location /metrics {
   proxy_pass http://localhost:9100/metrics;
 }
{% endif %}
}
