[Unit]
Description=NGINX Prometheus Exporter
Wants=network.target
After=network.target

[Service]
Type=simple
User={{dedicated_exporter_user}}
Group={{dedicated_exporter_group}}
ExecStart=/opt/nginx_exporter/nginx-prometheus-exporter \
    -web.listen-address={{ inventory_hostname }}.{{ domain }}:9113 \
    -nginx.scrape-uri http://127.0.0.1:8080/stub_status

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=30
SyslogIdentifier=nginx_prometheus_exporter

[Install]
WantedBy=multi-user.target
